@page "/Clients/{clientid:long}/History";
@inject ClientRepository _clientRepository;
@inject DealRepository _dealRepository;
@inject OrderRepository _orderRepository
@using JCTG.WebApp.Frontend.Components.Tradingview

<h1>History</h1>

<Chart @ref=tv />

<br />
<br />

<h1>Numbers</h1>
<p>
    Total PNL: @_client?.Currency @_totalPnl<br />
    Total Commission: @_client?.Currency @_totalCommission<br />
    Total Swap Costs: @_client?.Currency @_totalSwapCosts<br />
    Total Spread costs: @_client?.Currency @_totalSpreadCosts
</p>

<br />
<br />


<h1>Orders</h1>
<table cellpadding="1" cellspacing="1" width="100%" style="width:100%; border:1px solid black;" border="1">
    <tr>
        <th style="width:5%; border:1px solid gray; text-align:center;">ID</th>
        <th style="width:5%; border:1px solid gray; text-align:center;">Symbol</th>
        <th style="width:10%; border:1px solid gray; text-align:center;">Type</th>
        <th style="width:20%; border:1px solid gray; text-align:center;">Open Time</th>
        <th style="width:20%; border:1px solid gray; text-align:center;">Close Time</th>
        <th style="width:10%; border:1px solid gray; text-align:center;">PNL</th>
        <th style="width:10%; border:1px solid gray; text-align:center;">Commission</th>
        <th style="width:10%; border:1px solid gray; text-align:center;">Swap</th>
        <th style="width:10%; border:1px solid gray; text-align:center;">Spreadcost</th>
        <th style="width:10%; border:1px solid gray; text-align:center;">Signal</th>
    </tr>
    @foreach (var order in _orders.OrderByDescending(f => f.DateCreated))
    {
        <tr>
            <td style="width:10%; border:1px solid gray; text-align:center;">@order.ID</td>
            <td style="width:10%; border:1px solid gray; text-align:center;">@order.Symbol</td>
            <td style="width:10%; border:1px solid gray; text-align:center;">@order.Type</td>
            <td style="width:10%; border:1px solid gray; text-align:center;">@order.OpenTime</td>
            <td style="width:10%; border:1px solid gray; text-align:center;">@order.CloseTime</td>
            <td style="width:10%; border:1px solid gray; text-align:center;">@Math.Round(order.Pnl, 4)</td>
            <td style="width:10%; border:1px solid gray; text-align:center;">@Math.Round(order.Commission, 4)</td>
            <td style="width:10%; border:1px solid gray; text-align:center;">@Math.Round(order.Swap, 4)</td>
            <td style="width:10%; border:1px solid gray; text-align:center;">@Math.Round(order.SpreadCost, 4)</td>
            <td style="width:10%; border:1px solid gray; text-align:center;">@order.Signal.TradingviewStateType</td>
        </tr>
    }
</table>

@code {
    [Parameter]
    public long ClientId { get; set; }

    private Chart? tv;
    private List<Entity.Deal> _deals = new();
    private List<Entity.Order> _orders = new();
    private Entity.Client? _client;

    private double _totalPnl = 0.0;
    private double _totalCommission = 0.0;
    private double _totalSwapCosts = 0.0;
    private double _totalSpreadCosts = 0.0;

    protected async override Task OnInitializedAsync()
    {
        _orders = await _orderRepository.GetAll(692803787, ClientId);
        _deals = await _dealRepository.GetAll(this.ClientId);
        _client = await _clientRepository.GetById(692803787, ClientId);

        _totalPnl = Math.Round(_deals.Select(f => f.Pnl).Sum(), 2);
        _totalCommission = Math.Round(_deals.Select(f => f.Commission).Sum(), 2);
        _totalSwapCosts = Math.Round(_deals.Select(f => f.Swap).Sum(), 2);
        _totalSpreadCosts = Math.Round(_deals.Select(f => f.SpreadCost).Sum(), 2);
    }

    protected override async Task OnAfterRenderAsync(bool firstRender)
    {
        // Only on first render
        if (!firstRender || tv == null)
            return;

        // Get data from database
        _deals = await _dealRepository.GetAll(this.ClientId);


        // Init tradingview Chart
        await tv.InitAsync(new()
            {
                Width = -75,
                Height = 500,
            });

        // Do null reference check
        if (tv.IsInit)
        {
            // Calculate cumulative commission for each deal
            var cumulativeCommissions = new Dictionary<DateTime, decimal>();
            decimal totalCommission = 0.0M;
            foreach (var deal in _deals.Where(f => f.AccountBalance.HasValue).OrderBy(f => f.DateCreated))
            {
                totalCommission += Convert.ToDecimal(deal.Commission);
                totalCommission += Convert.ToDecimal(deal.Swap);
                totalCommission += Convert.ToDecimal(deal.SpreadCost);
                cumulativeCommissions[deal.DateCreated] = totalCommission;
            }

            // Use the cumulative commissions in the query
            await tv.AddLineSeriesAsync(_deals
                .Where(f => f.AccountBalance.HasValue && f.AccountBalance.Value > 0)
                .Select(x => new PricePoint()
                    {
                        Time = x.DateCreated,
                        Price = x.AccountBalance.HasValue ? Convert.ToDecimal(x.AccountBalance.Value) - cumulativeCommissions[x.DateCreated] : 0.0M
                    }).OrderBy(f => f.Time)
                        .ToList());


            // Load the chart
            await tv.AddAreaSeriesAsync(_deals
                .Where(f => f.AccountBalance.HasValue && f.AccountBalance.Value > 0)
                .Select(x => new AreaPoint()
                    {
                        Time = x.DateCreated,
                        Price = x.AccountBalance.HasValue ? Convert.ToDecimal(x.AccountBalance.Value) : 0.0M
                    }).OrderBy(f => f.Time)
                        .ToList());
        }
    }
}
