@page "/Clients/{clientid:long}/Logs";
@inject LogRepository _logRepository;
@using JCTG.WebApp.Frontend.Components.Widget;

<div class="container-fluid mw-100">

    <div class="font-weight-medium shadow-none position-relative overflow-hidden mb-4">
        <div class="card-body px-0">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h4 class="font-weight-medium ">Joeri</h4>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a class="text-primary text-decoration-none" href="/">Home</a>
                            </li>
                            <li class="breadcrumb-item d-flex justify-content-center align-items-center ps-0">
                                <iconify-icon icon="tabler:chevron-right"></iconify-icon>
                            </li>
                            <li class="breadcrumb-item" aria-current="page">
                                <a class="text-primary text-decoration-none" href="/">Clients</a>
                            </li>
                            <li class="breadcrumb-item d-flex justify-content-center align-items-center ps-0">
                                <iconify-icon icon="tabler:chevron-right"></iconify-icon>
                            </li>
                            <li class="breadcrumb-item" aria-current="page">Logs</li>
                        </ol>
                    </nav>
                </div>
                <div>
                    <LastMonthWidget></LastMonthWidget>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <div class="datatables">
            <div class="row">
                <div class="col-12">
                    <div class="card">
                        <div class="card-body">
                            <div class="mb-2">
                                <h5 class="mb-0">Logs</h5>
                            </div>
                            <div class="table-responsive">
                                <table class="table border table-striped table-bordered display text-nowrap">
                                    <thead>
                                        <tr>
                                            <th>ID</th>
                                            <th>Date Created</th>
                                            <th>Type</th>
                                            <th>Signal Id</th>
                                            <th>Message</th>
                                            <th>Error</th>
                                        </tr>
                                    </thead>
                                    <tbody>
                                        @foreach (var log in _logs)
                                        {
                                            <tr>
                                                <td>@log.ID</td>
                                                <td>@log.DateCreated</td>
                                                <td>@log.Type</td>
                                                <td>@log.SignalID</td>
                                                <td>@((MarkupString?)log.Message?.Replace("||", "<br />").Replace(",", "<br />"))</td>
                                                <td>@((MarkupString?)log.ErrorType?.Replace("||", "<br />").Replace(",", "<br />"))</td>
                                            </tr>
                                        }
                                    </tbody>
                                    <tfoot>
                                        <tr>
                                            <th>ID</th>
                                            <th>Date Created</th>
                                            <th>Type</th>
                                            <th>Signal Id</th>
                                            <th>Message</th>
                                            <th>Error</th>
                                        </tr>
                                    </tfoot>
                                </table>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>


@code {
    [Parameter]
    public long ClientId { get; set; }

    private List<Entity.Log> _logs = new();

    protected async override Task OnInitializedAsync()
    {
        _logs = await _logRepository.GetAllLast200(692803787, ClientId);
    }
}
