@page "/Clients/{clientid:long}/Logs";
@inject LogRepository _logRepository;


<h1>Logs</h1>
<table cellpadding="1" cellspacing="0" width="100%" style="width:100%; border:1px solid black;">
    <tr>
        <th style="width:10%;">ID</th>
        <th style="width:10%;">Date</th>
        <th style="width:10%;">Type</th>
        <th style="width:10%;">Signal ID</th>
        <th style="width:30%;">Message</th>
        <th style="width:30%;">Description</th>
    </tr>
    @foreach (var log in _logs)
    {
        <tr>
            <td>@log.ID</td>
            <td>@log.DateCreated</td>
            <td>@log.Type</td>
            <td>@log.SignalID</td>
            <td>@log.Message?.Replace(",", " ")</td>
            <td>@log.Description?.Replace(",", " ")</td>
        </tr>
    }
</table>

@code {
    [Parameter]
    public long ClientId { get; set; }

    private List<Entity.Log> _logs = new();

    protected async override Task OnInitializedAsync()
    {
        _logs = await _logRepository.GetAllLast200(692803787, ClientId);
    }
}
