@inject LogRepository _logRepository;

<div class="modal fade @_cssClass" tabindex="-1" style="display:@_display">
    <div class=" modal-dialog modal-dialog-scrollable modal-xl">
        <div class="modal-content">
            <div class="modal-header modal-colored-header bg-primary text-white">
                <h4 class="modal-title text-white" id="primary-header-modalLabel"> Order Log </h4>
                <button type="button" class="btn-close btn-close-white" data-bs-dismiss="modal" aria-label="Close" @onclick="async () => await CloseAsync()"></button>
            </div>
            <div class="modal-body">
                <div class="table-responsive">
                    <table class="table border table-striped table-bordered display text-nowrap">
                        <thead>
                            <tr>
                                <th>Date Created</th>
                                <th>Type</th>
                                <th>Error Type</th>
                                <th>Message</th>
                                <th>Description</th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var log in _logs)
                            {
                                <tr>
                                    <td>@log.DateCreated</td>
                                    <td>@log.Type</td>
                                    <td>@log.ErrorType</td>
                                    <td>@((MarkupString)log.Message?.Replace("||", "<br />").Replace(",", "<br />"))</td>
                                    <td>@((MarkupString)log.Description?.Replace("||", "<br />").Replace(",", "<br />"))</td>
                                </tr>
                            }
                        </tbody>
                        <tfoot>
                            <tr>
                                <th>Date Created</th>
                                <th>Type</th>
                                <th>Error Type</th>
                                <th>Message</th>
                                <th>Description</th>
                            </tr>
                        </tfoot>
                    </table>
                </div>
            </div>
            <div class="modal-footer">
                <div class="d-flex gap-6 m-0">
                    <button class="btn bg-danger-subtle text-danger rounded-pill" @onclick="async () => await CloseAsync()"> Close </button>
                </div>
            </div>
        </div>
    </div>
</div>


@code {
    [Parameter]
    public EventCallback OnClose { get; set; }

    [Parameter]
    public EventCallback OnOpen { get; set; }

    private List<Entity.Log> _logs = new();

    private string _display = "none;";
    private string _cssClass = "hide";

    public async Task OpenAsync()
    {
        _display = "block;";
        _cssClass = "show";
        await OnOpen.InvokeAsync();
        StateHasChanged();
    }

    public async Task CloseAsync()
    {
        _display = "none;";
        _cssClass = "hide";
        await OnClose.InvokeAsync();
        StateHasChanged();
    }

    public async Task InitAsync(int accountId, long clientId, long signalId)
    {
        _logs = await _logRepository.GetAll(accountId, signalId, clientId);
        await OpenAsync();
    }
}
