@page "/Signals/{signalid:int}/Tradingjournals";
@inject SignalRepository _signalRepository;
@inject NavigationManager _navigationManager;

<h3>Signals</h3>
@if (_tradingJournals.Count() <= 0)
{
    <p>No trading journals available</p>
}
else
{
    <div class="row">
        @foreach (var tradingJournal in _tradingJournals)
        {
            <div class="col-md-6 mb-6">
                <div class="card">
                    <div class="card-body">
                        <h5 class="card-title">@tradingJournal.Client?.Name</h5>
                        <p class="card-text">@@tradingJournal.Symbol @tradingJournal.Type</p>
                        <p class="card-text">@tradingJournal.Signal.StrategyType</p>
                        <div><a href="@($"Signals/{tradingJournal.SignalID}/Tradingjournals/{tradingJournal.ID}/Logs")"> View logs</a></div>
                    </div>
                </div>
            </div>
        }
    </div>
}


<h3>Clients with this signal without journal</h3>
<div class="row">
    @foreach (var client in _clientsWithoutJournal)
    {
        <div class="col-md-6 mb-6">
            <div class="card">
                <div class="card-body">
                    <h5 class="card-title">@client.Name</h5>
                    <p class="card-text"></p>
                    <div><a href="@($"Signals/{SignalId}/Logs")">View logs</a></div>
                </div>
            </div>
        </div>
    }
</div>


@code {

    [Parameter]
    public int SignalId { get; set; }


    private List<JCTG.Entity.TradeJournal> _tradingJournals = new List<Entity.TradeJournal>();
    private List<JCTG.Entity.Client> _clientsWithoutJournal = new List<Entity.Client>();

    protected async override Task OnInitializedAsync()
    {
        var signal = await _signalRepository.GetById(692803787, SignalId);
        if (signal != null)
        {
            _tradingJournals = signal.TradeJournals;
        }
        _clientsWithoutJournal = await _signalRepository.GetClientsThatDontHaveAJournalById(692803787, SignalId);
    }
}
