@page "/Signals/{signalid:long}/History";
@inject SignalRepository _signalRepository;
@inject ClientRepository _clientRepository;




<div class="container-fluid mw-100">
    <div class="font-weight-medium shadow-none position-relative overflow-hidden mb-4">
        <div class="card-body px-0">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h4 class="font-weight-medium ">Joeri</h4>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a class="text-primary text-decoration-none" href="/">
                                    Home
                                </a>
                            </li>
                            <li class="breadcrumb-item d-flex justify-content-center align-items-center ps-0">
                                <iconify-icon icon="tabler:chevron-right"></iconify-icon>
                            </li>
                            <li class="breadcrumb-item" aria-current="page">
                                <a class="text-primary text-decoration-none" href="/Signals">
                                    Signals
                                </a>
                            </li>
                            <li class="breadcrumb-item" aria-current="page">
                                History
                            </li>
                        </ol>
                    </nav>
                </div>
                <div>
                    <div class="d-flex no-block justify-content-end align-items-center">
                        <div class="me-2">
                            <div class="breadbar"></div>
                        </div>
                        <div class="">
                            <small>LAST MONTH</small>
                            <h4 class="text-primary mb-0 font-medium">$58,256</h4>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>

    <div class="row">
        <h3>History of @_signal?.Instrument @_signal?.OrderType</h3>
        <table cellpadding="1" cellspacing="1" width="100%" style="width:100%; border:1px solid black;" border="1">
            <tr>
                <th style="width:10%; border:1px solid gray; text-align:center;">ID</th>
                <th style="width:10%; border:1px solid gray; text-align:center;">Magic</th>
                <th style="width:20%; border:1px solid gray; text-align:center;">Date Created</th>
                <th style="width:20%; border:1px solid gray; text-align:center;">Instrument</th>
                <th style="width:20%; border:1px solid gray; text-align:center;">Order Type</th>
                <th style="width:20%; border:1px solid gray; text-align:center;">State</th>
            </tr>
            @foreach (var signal in _signals)
            {
                <tr>
                    <td style="width:10%; border:1px solid gray; text-align:center;">@signal.ID</td>
                    <td style="width:10%; border:1px solid gray; text-align:center;">@signal.Magic</td>
                    <td style="width:20%; border:1px solid gray; text-align:center;">@signal.DateCreated</td>
                    <td style="width:20%; border:1px solid gray; text-align:center;">@signal.Instrument</td>
                    <td style="width:20%; border:1px solid gray; text-align:center;">@signal.OrderType</td>
                    <td style="width:20%; border:1px solid gray; text-align:center;">@signal.TradingviewStateType</td>
                </tr>
            }
        </table>
    </div>
</div>

@code {

    [Parameter]
    public long SignalId { get; set; }


    private Entity.Signal? _signal = null;
    private List<Entity.Signal> _signals = new List<Entity.Signal>();

    protected async override Task OnInitializedAsync()
    {
        _signal = await _signalRepository.GetById(692803787, SignalId);
        
        if (_signal != null)
        {
            _signals = await _signalRepository.GetAll(692803787, _signal.Instrument, _signal.OrderType, _signal.StrategyType);
        }
    }
}
