@page "/Admin/Users";
@inject Membership _membership;
@using JCTG.WebApp.Frontend.Components.Widget;
@using JCTG.WebApp.Frontend.Components.Modal.Admin;
@using Microsoft.Graph.Models;
@attribute [Authorize]

<div class="container-fluid mw-100">

    <div class="font-weight-medium shadow-none position-relative overflow-hidden mb-4">
        <div class="card-body px-0">
            <div class="d-flex justify-content-between align-items-center">
                <div>
                    <h4 class="font-weight-medium ">Strategy</h4>
                    <nav aria-label="breadcrumb">
                        <ol class="breadcrumb">
                            <li class="breadcrumb-item">
                                <a class="text-primary text-decoration-none" href="/">
                                    Home
                                </a>
                            </li>
                            <li class="breadcrumb-item d-flex justify-content-center align-items-center ps-0">
                                <iconify-icon icon="tabler:chevron-right"></iconify-icon>
                            </li>
                            <li class="breadcrumb-item" aria-current="page">
                                Admin
                            </li>
                            <li class="breadcrumb-item d-flex justify-content-center align-items-center ps-0">
                                <iconify-icon icon="tabler:chevron-right"></iconify-icon>
                            </li>
                            <li class="breadcrumb-item" aria-current="page">
                                <a class="text-primary text-decoration-none" href="/Admin/Users">
                                    Users
                                </a>
                            </li>
                        </ol>
                    </nav>
                </div>
                <div>
                     <LastMonthWidget></LastMonthWidget>
                </div>
            </div>
        </div>
    </div>

    <div class="card w-100 position-relative overflow-hidden">
        <div class="card card-body">
            <div class="row">
                <div class="col-md-4 col-xl-3">
                    <h5 class="card-title fw-semibold mb-0 lh-sm">Users</h5>
                </div>
                <div class="col-md-8 col-xl-9 text-end d-flex justify-content-md-end justify-content-center mt-3 mt-md-0">
                    <a href="javascript:void(0)" class="btn btn-primary d-flex align-items-center" @onclick="() => UserAddClick()">Add a user</a>
                </div>
            </div>
        </div>
        @if (_members.Count() > 0)
        {
            <div class="card-body p-4">
                <div class="table-responsive rounded-2 mb-4">
                    <table class="table border text-nowrap customize-table mb-0 align-middle">
                        <thead class="text-dark fs-4">
                            <tr>
                                <th>Id</th>
                                <th>Email</th>
                                <th>Name</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            @foreach (var user in _members)
                            {
                                <tr>
                                    <td>@user.Id</td>
                                    <td>@(user.Mail == null ? user.UserPrincipalName : user.Mail)</td>
                                    <td>@user.DisplayName</td>
                                    <td>
                                        <div class="dropdown dropstart">
                                            <a href="#" class="text-muted" id="dropdownMenuButton" data-bs-toggle="dropdown" aria-expanded="false">
                                                <i class="ti ti-dots-vertical fs-6"></i>
                                            </a>
                                            <ul class="dropdown-menu" aria-labelledby="dropdownMenuButton">
                                                <li>
                                                    <a href="javascript:void(0)" class="dropdown-item d-flex align-items-center gap-3" @onclick="async () => await UserDeleteClick(user.Id)">Delete</a>
                                                </li>
                                            </ul>
                                        </div>
                                    </td>
                                </tr> 
                            }
                        </tbody>
                    </table>
                </div>
            </div>
        }
        else
        {
            <div class="card-body text-center">
                <h3 class="fw-semibold">No users available for this account</h3>
                <p class="fw-normal mb-4 fs-4">Is this correct?</p>
                <a href="javascript:void(0)" class="btn btn-primary mb-8" @onclick="() => UserAddClick()">Add a user</a>
            </div>
        }
    </div>
</div>


<UserAddOrEditModal @ref="@_userAddOrEditModal" OnClose="async () => await ReloadAsync()"></UserAddOrEditModal>

<UserDeleteModal @ref="@_userDeleteModal" OnClose="async () => await ReloadAsync()"></UserDeleteModal>

@code {

    private List<User> _members = new List<User>();
    private UserAddOrEditModal? _userAddOrEditModal { get; set; } = null;
    private UserDeleteModal? _userDeleteModal { get; set; } = null;


    protected async override Task OnInitializedAsync()
    {
        await ReloadAsync();
    }

    private async Task ReloadAsync()
    {
        _members = await _membership.GetAllUsers(Guid.Parse("d0d4c576-8aa4-4f12-b42c-bc05b18349f4"));
    }

    private async Task UserAddClick()
    {
        if (_userAddOrEditModal != null)
        {
            await _userAddOrEditModal.InitAsync(692803787);
        }
    }


    private async Task UserDeleteClick(string id)
    {
        if (_userDeleteModal != null)
        {
            await _userDeleteModal.InitAsync(692803787, id);
        }
    }
}
